body {
    background-color: purple;
    padding: 50px 50px 50px 50px;
}

h1 {
    color: darkgrey;
    
}

.topnav {
    background-color: lightgrey;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Color of box and text when mouse is hovering over the link
.topnav a.hover {
    background-color: #ddd;
    color: black;
}

Color of the link when currently on that page
.topnav a.active {
    background-color: #2196F3;
    color: white;
} */

/*Text style inside search box*/
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container {
    float: right;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}